body{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.title h1{
    margin-left: 1%;
}
.profile-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.profile-data h2{
    font-weight: 100;
}
.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    gap: 14px;
    font-size: 20px;
    font-weight: 100;
}
#time{
    color: green;
    font-weight: bold;
}
.lvl{
    padding: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lvl select{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
}

.input-text{
    width: 90%;
    height: 30vh;
    background-color: transparent;
    border: 2px solid white;
    font-size: 40px;
    color: white;
    border-top: 2px solid white;
}
input::placeholder {
  position: relative;
  top: -10px;
  color: gray;
  transition: 0.3s ease;
}
.display-txt{
    position: fixed;
    top: 30%;
    color: rgb(194, 188, 188);
    overflow: hidden;
    width: 90%;
    height: 50vh;
    z-index: -999;
    font-size: 25px;
    text-align: center;
}
#s{
    color: white;
}