body{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 48, 48);
    font-family: monospace;
}
header{
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
.logo i{
    color: #E2B714;
    font-size: 25px;
}
.logo h1{
    color: #E2B714;
    font-size: 25px;
}
.profile-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.profile-data h2{
    font-weight: 100;
}
.timer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
    gap: 14px;
    font-size: 20px;
    font-weight: 100;
}
#time{
    color: green;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
}
.input-text{
    position: fixed;
    top: 45%;
    width: 90%;
    height: 20%;
    background-color: transparent;
    border: 2px solid white;
    font-size: 40px;
    color: white;
    border-radius: 15px;
    border-top: 2px solid white;
}
input::placeholder {
  color: gray;
  transition: 0.3s ease;
  font-family: monospace;
}
.display-txt{
    border-radius: 15px;
    position: fixed;
    top: 10%;
    padding: 15px;
    color: white;
    background-color: #E2B714;
    overflow: hidden;
    width: 90%;
    font-size: 25px;
    text-align: center;
}
#s{
    color: white;
}
.board{
    background-color: #E2B714;
    position: fixed;
    top: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 15px;
}
.board p{
    color: white;
    font-size: 25px;
}
#restart-btn{
    position: fixed;
    top: 87%;
    font-size: 30px;
    font-family: monospace;
    color: white;
    width: 200px;
    height: 50px;
    border-color: transparent;
    border-radius: 10px;
    background-color: #E2B714;
}
#restart-btn:hover{
    background-color: #E2B717;
}